@charset "utf-8";
$custombackoffice-container-background: var(--bo-base-background);
$custombackoffice-container-font-family: var(--bo-font-family);
$custombackoffice-container-font-size: $font-size__base;
$custombackoffice-label-text-color: var(--bo-text-color);
